/* This ensures the body takes the full viewport without allowing scrolling */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrolling on the body */
  /* background-color: grey; */
  font-family: sans-serif;
}

.container {
  background-color: white;
}

.container img {
  width: 65%;
  padding-bottom: 20%;
  padding-top: 20%;
}